body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c2836;
  color: #fcfbfc;
}
header {
  background-color: #0c1e34;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 36px;
}
header img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.grid-logo {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
  text-align: left;
}
.grid-logo img {
  width: 300px;
  height: auto;
}
.grid-logo h1 {
  font-size: 28px;
  margin: 0;
}
.grid-survayes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid-personas {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
  text-align: left;
}
.grid-personas img {
  width: 350px;
  height: auto;
}
.grid-personas li {
  font-size: 16px;
  margin-bottom: 5px;
}
.grid-problem li {
  font-size: 16px;
  margin-bottom: 5px;
}
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
h3 {
  font-size: 28px;
}
p {
  font-size: 16px;
}
.section {
  margin-bottom: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
.grid-item {
  width: 70%;
  background-color: #dfecf2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  margin-bottom: 50px;
}
.grid-item:hover {
  transform: scale(1.05);
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}
.sketches {
  width: 70%;
}
.sketches-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically if needed */
}
.problem-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically if needed */
  margin-left: 50px;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-logo h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 24px;
  }
  .grid-logo {
    flex-direction: column;
    align-items: flex-start;
  }
  .grid-logo img {
    width: 80px;
  }
}
/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  display: block;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
